{% extends "base.html" %}
{# add chair #}
{% if not from_assignment %}
    {% set active_page = "submissions" if current_user in paper.authors else "reviews" %}
    {% set active_subpage = "my-submissions" if current_user in paper.authors else "my-reviews" %}
    {% set page_title = "Paper Reviews" %}
{% else %}
    {% set active_page = "conferenceManagement" %}
    {% set active_subpage = "review_menu" %}
    {% set active_second_subpage = "manual-assignment" %}
    {% set page_title = "Review Assignment" %}
{% endif %}

{% block head %}
    {{ super() }}
    <style>
        .title-box {
            padding: 9px 12px 6px 12px;
            background: #f9f9f9;
            border: 1px solid #f1f1f1;
            overflow:hidden
        }

        .paper-title {
            font-size: 14px;
            color: #676a6c;
            font-weight: 600;
        }

        /*.progress-label {
            float: right;
            margin-right: 1em;
        }*/
    </style>
{% endblock %}

{% block page_content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            {% set show_average = (current_user.is_chair(paper.conference) and not current_user in paper.authors) or paper.conference.configuration.get('show_average_score', False)%}
            <div class="{{'col-lg-4' if show_average else 'col-lg-6'}}">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Reviews</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{ paper.reviews.count() }}</h1>
                    </div>
                </div>
            </div>
            {% if show_average %}
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Average Score</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{ paper.avg_score }}/5.0</h1>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if not paper.conference.configuration.get('hide_paper_status') %}
            <div class="{{'col-lg-4' if show_average else 'col-lg-6'}}">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Status</h5>
                    </div>
                    <div class="ibox-content">
                        <h2 class="no-margins">{{ paper.status }}</h2>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="ibox-content forum-post-container">
            <div class="title-box">
                <div class="col-md-1 project-title">
                    {{ paper.id }}
                </div>
                <div class="col-md-9">
                    <div class="project-title">
                        {{ paper.title }}
                    </div>
                    {% if not paper.conference.configuration['hide_author'] %}
                    <div>
                        {{ macros.generate_paper_authors(paper.authors_list) }}
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {{ render_files_button(paper, paper.files) }}
                </div>
            </div>

            {# is_chair generates too many queries!!!!! #}

            {% set eval_desc = {1: 'Reject', 2: 'Weak Reject', 3: 'Boderline', 4: 'Weak Accept', 5: 'Accept'} %}
            {% set conf_desc = {1: 'None', 2: 'Low', 3: 'Medium', 4: 'High', 5: 'Expert'} %}
            <div id="reviews">
                {% set i = 0 %}
                {% set chair_flag = current_user.is_chair(paper.conference) %}
                {% for review in paper.reviews.all() %}
                    {% set i = i + 1 %}
                    {% set eval_percent = ((review.evaluation/eval_desc|length)*100)|int %}
                    {% set conf_percent = ((review.confidence/conf_desc|length)*100)|int %}
                    <div class="media">
                        {% if chair_flag %}
                            <a class="forum-avatar" href="{{ url_for('main.user', id=review.reviewer.id) }}">
                                <img data-name={{ review.reviewer.first_name[0]+ review.reviewer.last_name[0]}} data-height=60 data-width=60 data-font-size=20 data-font-weight=700 data-char-count=2 radius=2 class="profile-avatar img-circle"/>
                                <div class="author-info">
                                    <h5>{{ review.reviewer.first_name }} {{ review.reviewer.last_name }}</h5>
                                    </br>
                                </div>
                            </a>
                        {% else %}
                            <div class="forum-avatar">
                                <div class="author-info">
                                    <h5>Reviewer {{i}}</h5>
                                    </br>
                                </div>
                            </div>
                        {% endif %}
                        <div class="media-body">
                            {% if chair_flag %}
                                <h3>Evaluation: {{ review.evaluation }} out of 5</h3>
                                <div class="progress progress-bar-default" style="width:50%;">
                                    <div style="width: {{ eval_percent }}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ eval_percent }}" role="progressbar" class="progress-bar progress-bar-success">
                                        <span>{{ eval_desc[review.evaluation] }}</span>
                                    </div>
                                </div>
                                <!-- <div>
                                    {{ review.evaluation }}
                                </div> -->
                                <h3>Confidence: {{ review.confidence }} out of 5</h3>
                                <div class="progress progress-bar-default" style="width:50%;">
                                    <div style="width: {{ conf_percent }}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ conf_percent }}" role="progressbar" class="progress-bar">
                                        <span>{{ conf_desc[review.confidence] }}</span>
                                    </div>
                                </div>
                                <hr/>
                            {% endif %}
                            <h3 class="media-heading">Review</h3>
                            {{ review.review_body | safe }}
                            <hr>
                            {% if configuration['review_feedback']%}
                                <h3>Confidential Feedback to Chairs</h3>
                                <div id="action_box_{{ review.id }}">
                                    {% set action = review.actions.filter_by(commenter_id=current_user.id).first() %}
                                    {% if action %}
                                        Thanks for providing your feedback: did you find the review helpful: <b>{{ action.action }}</b>.
                                    {% else %}
                                        Did you find the review helpful?<br><br>
                                        <a id="action-Yes-{{ review.id }}" class="btn btn-s btn-default action_btn"> Yes </a>
                                        <a id="action-No-{{ review.id }}" class="btn btn-s btn-default action_btn"> No </a>
                                    <br><br>
                                    {% endif %}
                                </div>
                            {% endif %}
                                {% if chair_flag %}
                                    <h4>Review Feedback Stats</h4>
                                    {{ review.get_feedback_count('Yes') }} Yes, {{ review.get_feedback_count('No') }} No.
                                <hr>
                                {% endif %}

                            {% if chair_flag %}
                                <h4 class="media-heading">Confidential Remarks</h4>
                                <p>{{ review.confidential_comments }}</p>
                                <!-- {{ review.evaluation_percent }} -->
                            {% endif %}
                            <br><br>
                            {# if chair_flag %}
                            <div class="all-comments" id="all-comments-{{ review.id }}">
                                {% set comments = review.comments.all() %}
                                {% if comments != [] %}
                                    <h4 class="media-heading">Comments</h4>
                                    {% for comment in comments %}
                                        <div class="single-comment media">
                                            <br>
                                            <a class="forum-avatar" url="{{ url_for("main.user", id=current_user.id) }}">
                                                <img data-name="{{ current_user.first_name[0]+ current_user.last_name[0] }}" data-height="60"  data-width="60" data-font-size="20" data-font-weight="700" data-char-count="2" radius="2" class="{% if not current_user.avatar %}profile-avatar {% endif %}img-circle" width="48" height="48"/>
                                                <div class="author-info">
                                                    <h5>{{ current_user.full_name }}<br></h5>
                                                </div>
                                            </a>
                                            <div class="media-body">
                                                <div style="color: #999">{{ moment(current_time).fromNow(refresh=True) }}</div>
                                                <br>
                                                {{ comment.text }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <textarea class="form-control comments" id="comment-{{ review.id }}" placeholder="Add Comments" rows="1" style="resize: None"></textarea>
                            {% endif #}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        $(".action_btn").click(function (event){
            var review_id = $(this).attr("id").split("-")[2];
            var action_type = $(this).attr("id").split("-")[1];
            $.ajax({
                type: "POST",
                url: "{{ url_for('api.add_action') }}",
                contentType: "application/json",
                data: JSON.stringify({
                    review_id: review_id,
                    //text: $(this).siblings('textarea').val(),
                    action_type: action_type
                }),
                success: function (response) {
                    $('#action_box_' + review_id + ' .action_btn').hide();
                    $('#action_box_' + review_id).text('Thank you. Your response has been recorded.');
                }
            }).fail(function (response) {
                swal({
                    title: response.responseJSON.error,
                    type: "error",
                    text: response.responseJSON.message,
                    timer: 2000,
                    showConfirmButton: false
                })
            })
        });
        // $(".comments").focus(function (event){
        //     $(this).attr('rows', 6);
        //     var review_id = $(this).attr("id").split("-")[1];
        //     if ($(this).nextAll().length === 0){
        //         $(this).after('<br><span class="btn btn-primary add-comment" id="add-comment-' + review_id + '">Add comment</span>');
        //         $(".add-comment").click(function (event){
        //             if ($(this).siblings('textarea').val() === ""){
        //                 return;
        //             }
        //             $.ajax({
        //                 type: "POST",
        //                 url: "{{ url_for('api.add_comment') }}",
        //                 contentType: "application/json",
        //                 data: JSON.stringify({
        //                     review_id: review_id,
        //                     //text: $(this).siblings('textarea').val(),
        //                     text: $("#comment-" + review_id).val().replace(/&/g, "&amp;").replace(/\"/g, "&quot;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, ' ')
        //                 }),
        //                 success: function (response){
        //                     var comments_div = $("#all-comments-" + review_id);
        //                     var text = $("#comment-" + review_id).val().replace(/&/g, "&amp;").replace(/\"/g, "&quot;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, ' ');
        //                     $("#comment-" + review_id).val("");
        //                     $("#comment-" + review_id).blur();
        //                     if (comments_div.children().length === 0)
        //                     {
        //                         comments_div.append('<h4 class="media-heading">Comments</h4>');
        //                     }
        //                     comments_div.append("<div class=\"single-comment media\"></div>");
        //                     var single_comment_div = $(comments_div.children()[comments_div.children().length - 1]);
        //                     single_comment_div.append('<br><a class="forum-avatar" url="{{ url_for("main.user", id=current_user.id) }}"><img data-name="{{ current_user.first_name[0]+ current_user.last_name[0] }}" data-height="60"  data-width="60" data-font-size="20" data-font-weight="700" data-char-count="2" radius="2" class="{% if not current_user.avatar %}profile-avatar {% endif %}img-circle" width="48" height="48"/><div class="author-info"><h5>{{ current_user.first_name }} {{ current_user.last_name }}<br></h5></div></a>');
        //                     single_comment_div.append('<div class="media-body"><div style="color: #999">Just Now</div><br>' + text + '</div>');
        //                     $('.profile-avatar').initial();
        //                     swal({
        //                         title: "Success!",
        //                         type: "success",
        //                         text: "Your comment has been posted.",
        //                         timer: 2000,
        //                         showConfirmButton: false
        //                     });
        //                 }
        //             }).fail(function (response){
        //                 swal({
        //                     title: "Oops...",
        //                     type: "error",
        //                     text: "Something is wrong, try again later or contact with customer service",
        //                     timer: 2000,
        //                     showConfirmButton: false
        //                 })
        //             })
        //         })
        //     }
        // });
        // $(".comments").blur(function (event){
        //     if ($(this).val() === ""){
        //         $(this).attr('rows', 1);
        //         $(this).nextAll('br').remove();
        //         $(this).nextAll('span').remove();
        //     }
        // });
    </script>
{% endblock %}
