{% extends "base.html" %}
{% set active_page = "Submissions" %}
{% set active_subpage = "all-submissions" %}
{% set page_title = "All Submissions" %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='inspinia/css/plugins/footable/footable.core.css') }}" rel="stylesheet">
    <style>
        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;
        }

        .autocomplete-selected {
            background: #F0F0F0;
        }

        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-group {
            padding: 2px 5px;
        }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }
    </style>
{% endblock %}

{% block page_heading %}
    {{ macros.breadcrumb_widget([('Home', url_for('main.dashboard')), ('Administration', '#'), (page_title, url_for('submission.all_submissions'))]) }}
{% endblock %}

{% block page_content %}
    {% if all_papers | count != 0 %}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content m-b-sm border-bottom">
                {% if empty_flag %}
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        We couldn't find papers that match your search criteria. View all papers below.
                    </div>
                {% endif %}
                <div class="row">
                    <form action="/submission/all" id="searchform" method="get">
                        <div class="col-sm-6 less-padding">
                            <div class="form-group">
                                <label class="control-label" for="papertitle"></label>
                                <input type="text" id="papertitle" name="papertitle" value="{{ papertitle }}"
                                       placeholder="Title" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4 less-padding">
                            <div class="form-group">
                                <label class="control-label" for="author"></label>
                                <input type="text" id="author" name="author" value="{{ author }}" placeholder="Author"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2 less-padding">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <button type="submit" class="form-control btn btn-sm btn-primary ">Search</button>
                                <!-- <input type="submit" class="btn btn-sm btn-primary" value="Submit"></input> -->
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <table data-sort="false" class="footable table table-stripped toggle-arrow-tiny"
                                   data-page-size="20">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Status</th>
                                    <th>Title</th>
                                    <th data-hide="phone">Author</th>
                                    <th data-hide="phone"></th>
                                    <!-- <th data-hide="phone"> </th> -->
                                    <th class="hide" data-hide="all">Abstract</th>
                                    <th class="hide" data-hide="all">Keywords</th>
                                    <th class="hide" data-hide="all">Reviewers</th>
                                    <th class="hide" data-hide="all">File</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for paper in all_papers %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            {% if paper.status == "Under Review" %}
                                                <span class="label label-warning">{{ paper.status }}</span>
                                            {% elif paper.status == "Rejected" %}
                                                <span class="label label-danger">{{ paper.status }}</span>
                                            {% elif paper.status == "Accepted" %}
                                                <span class="label label-primary">{{ paper.status }}</span>
                                            {% else %}
                                                <span class="label label-default">{{ paper.status }}</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ paper.title }}</td>
                                        <td>{{ macros.generate_paper_authors(paper.authors_list) }}</td>
                                        <td>
                                            <div class="pull-right">
                                                <a href="{{ url_for("paper.paper_reviews", paper_id=paper.id) }}"
                                                   class="btn btn-white btn-sm"
                                                <i class="fa fa-list-ul"></i> View Reviews </a>
                                                <a href="{{ url_for("paper.edit_paper_info", paper_id=paper.id) }}"
                                                   class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                            </div>
                                        </td>
                                        <!-- <td>
                                            <a href="#" class="btn btn-white btn-sm"><i class="fa fa-times"></i> Delete </a>
                                            </td> -->
                                        <td class="hide">{{ paper.abstract }}</td>
                                        <td class="hide">{{ paper.keywords }}</td>
                                        <td class="hide">
                                            {% for reviewer in paper.reviewers %}
                                                <span class="badge"
                                                      data-reviewer-id={{ reviewer.id }}>{{ reviewer.first_name }} {{ reviewer.last_name }}</span>
                                            {% endfor %}
                                        </td>
                                        <td class="hide">
                                            {{ render_files_button(paper, paper.files) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if papertitle == '' and author == '' %}
                                {{ macros.pagination_widget(pagination, '.all_submissions') }}
                            {% else %}
                                {{ macros.pagination_widget(pagination, '.all_submissions', papertitle=papertitle, author=author) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="middle-box text-center animated fadeInRightBig">
            <h3 class="font-bold">There is no submissions...yet :)</h3>
            <div class="error-desc">

                <br><a href="{{ url_for('main.dashboard') }}" class="btn btn-primary m-t">Dashboard</a>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Autocomplete -->
    <script src="{{ url_for('static', filename='conferency/js/jquery.autocomplete.min.js') }}"></script>
    <script>
        $('.file-box').each(function () {
            animationHover(this, 'pulse');
        });
    </script>
    <script src="{{ url_for('static', filename='inspinia/js/plugins/footable/footable.all.min.js') }}"></script>
    <script>
        // $(function () {
        //     $('.footable').footable();
        // });
        $(document).ready(function () {
            // var $expandAllBtn = $('#expand-all-btn')
            // var $collapse = $("[id^=collapse]");
            // var $collapseToggle = $('a[href^="#collapse"]');

            // $expandAllBtn.click(function() {
            //     if($collapse.hasClass("in")){
            //         $collapse.removeClass('in');
            //         $collapse.attr('aria-expanded', 'false');
            //         $collapseToggle.attr('aria-expanded', 'false');
            //         $expandAllBtn.text("Expand All");
            //     }
            //     else {
            //         $("[id^=collapse]").addClass('in');
            //         $collapse.attr('aria-expanded', 'true');
            //         $collapseToggle.attr('aria-expanded', 'false');
            //         $expandAllBtn.text("Collapse All");
            //     }
            // });
            // console.log($('.footable'));

            $('.footable').footable();
        });

        // function simpleLoad(btn, state) {
        //     if (state) {
        //         btn.children().addClass('fa-spin');
        //         $("[id^=collapse]").addClass('in');
        //         btn.contents().last().replaceWith(" Expanding");
        //     } else {
        //         btn.children().removeClass('fa-spin');
        //         $("[id^=collapse]").removeClass('in');
        //         btn.contents().last().replaceWith(" Refresh");
        //     }
        // }
    </script>
    <!--
    <script>
    $statusSelect = $('.select_class');

    // On changing the paper in the <select>, we want
    // to update the status of paper in database.
    $statusSelect.change(function() {
        // console.log($(this).attr('id') + $(this).val());
        $.post("/review/decision", {paper_id: $(this).data('id'), paper_status: $(this).val()});
        // refresh the page
        // window.location = window.location.pathname;
    });
    </script> -->
{% endblock %}
