{% extends "/site/home_base.html" %}

{% block title %}Payment Terms - {% endblock %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='conferency/css/conf_site.css') }}" rel="stylesheet">

{% endblock %}

{% block page_content %}

    <!-- HEADER
    ================================= -->
    <header id="header" class="header-section section section-dark navbar navbar-fixed-top">

        <div class="container-fluid">

            <div class="navbar-header navbar-left">

                <!-- RESPONSIVE MENU BUTTON -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- HEADER LOGO -->
                <div class="navbar-logo">
                    <a href="https://www.conferency.com">
                        <div class="logo-image floating"></div>
                    </a>
                </div>

            </div>

            <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">

                <!-- NAVIGATION LINKS -->
                <ul id="header-nav" class="nav navbar-nav">
                    <li><a id="home_link_main_page" href="/">Home</a></li>

                    <!--
                    <li><a href="http://conferency.zendesk.com">Support</a></li>
                    -->
                    <!-- HEADER ACTION BUTTON -->
                    <li class="header-action-button"><a id="login_button_main_home" href="/auth/login"
                                                        class="btn btn-primary">Login</a></li>
                    <li class="header-action-button"><a id="signup_button_main_home" href="/auth/register"
                                                        class="btn btn-primary">Signup</a></li>

                </ul>

            </nav>

        </div>

    </header>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header body-site" style="background-image: url('{{ url_for('static', filename='img/landing_page/calendar.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 class="hero-font-color">Payment Terms</h1>
                        <hr class="small">
                        <span class="subheading">When you use the Conferency Payments service to pay for things or tickets on Conferency, you should carefully read through these Payments Terms (the "Terms") in order to understand your rights and responsibilities, as well as ours.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container body-site">
            <div class="row">
                <div class="col-lg-9 col-md-9 policy">
                    <h2 class="article-section">Making Purchases</h2>

                    <h4>1. Funding and spending.</h4>

                    <p>When you make a purchase using Conferency Payments, you agree to provide a valid funding instrument to load money into your electronic value balance. When you have successfully completed this funding transaction, we will then transfer that value to the one offering the content you wish to pay for.</p>

                    <h4>2. Pricing.</h4>

                    <p>Pay attention to the details of the transaction, because your total price may include taxes, fees, and shipping costs, all of which you are responsible for funding.</p>

                    <h4>3. Extra terms.</h4>

                    <p>You may be presented with additional terms related to a specific purchase before you confirm the transaction (such as shipping terms for tangible goods). Those additional terms will also govern that transaction.</p>

                    <h2 class="article-section">Payment Methods</h2>

                    <h4>1. Funding instruments.</h4>

                    <p>We want to make Conferency Payments convenient, so we allow you to fund your transactions using a number of different sources, like credit cards and debit cards and other payment methods.</p>

                    <h4>2. Authority.</h4>

                    <p>When you provide a funding instrument to us, you confirm that you are permitted to use that funding instrument. When you fund a transaction, you authorize us (and our designated payment processor) to charge the full amount to the funding instrument you designate for the transaction. You also authorize us to collect and store that funding instrument, along with other related transaction information.</p>

                    <h4>3. Failed funding.</h4>

                    <p>If you fund a payment by debit card and your load transaction results in an overdraft or other fee from your bank, you alone are responsible for that fee.</p>

                    <h4>4. Incompatibility.</h4>

                    <p>You may at some point encounter an app or feature that does not support the payment method you would prefer to use – for example, if an item or feature that you wish to purchase is priced in local currency, you won’t be able to use Credits as a payment method; however, you can select a different type of payment instrument (such as credit or debit card, or mobile operator billing).</p>

                    <h2 class="article-section">Actions We May Take</h2>

                    <h4>1. At-will use.</h4>

                    <p>We may revoke your eligibility to use Conferency Payments at any time at our sole discretion.</p>

                    <h4>2. Inquiries.</h4>

                    <p>By using Conferency Payments, you acknowledge and agree that we may make any inquiries that we consider necessary, either directly or through third parties, concerning your identity and creditworthiness.</p>

                    <h4>3. Our right to cancel.</h4>

                    <p>We may cancel any transaction if we believe the transaction violates these Terms or the Statement of Rights and Responsibilities, or if we believe doing so may prevent financial loss. We may also cancel any electronic value accumulated, transferred, assigned, or sold as a result of fraudulent or illegal behavior.</p>

                    <h4>4. Sharing of information.</h4>

                    <p>- In order to prevent financial loss to you or to us, we may contact your funding instrument issuer, law enforcement, or affected third parties (including other users) and share details of any payments you are associated with, if we believe doing so may prevent financial loss or a violation of law.</p>

                    <h2 class="article-section">Disputes and Reversals</h2>

                    <h4>1. No liability for spend transaction.</h4>

                    <p>If you enter into a transaction with a third party and have a dispute over the goods or services you purchased, we have no liability for the goods or services underlying the transaction. Our only responsibility is to handle your funding transaction. All funding transactions are final unless required by law. If you order something that becomes unavailable before it can be provided to you, you may request a refund of your funded amount.</p>

                    <h4>2. Duty to notify us.</h4>

                    <p>If you believe that an unauthorized or otherwise problematic transaction has taken place under your account, you agree to notify us immediately, so that we may take action to prevent financial loss. Unless you submit the claim to us within 30 days after the charge, you will have waived, to the fullest extent permitted by law, all claims against us arising out of or otherwise related to the transaction.</p>

                    <h4>3. Intervention.</h4>

                    <p>We may intervene in disputes concerning payments that may arise between you and a developer, but we have no obligation to do so.</p>

                    <h4>4. Technical difficulties.</h4>

                    <p>If you experience a technical failure or interruption of service that causes your funding transaction to fail, you may request that your transaction be completed at a later time.</p>

                    <h2 class="article-section">Notices and Amendments to These Terms</h2>

                    <p>Notice to you. By using the Conferency Payments service, you agree that we may communicate with you electronically any important information regarding your purchases or your account. We may also provide notices to you by posting them on our website, or by sending them to an email address or street address that you previously provided to us. Website and email notices shall be considered received by you within 24 hours of the time posted or sent; notices by postal mail shall be considered received within three (3) business days of the time sent.</p>

                    <p>Amendment guidelines. We may update these Payments Terms at any time without notice as we deem necessary to the full extent permitted by law. The Payments Terms in place at the time you confirm a transaction will govern that transaction.</p>

                    <h2 class="article-section">Additional Terms</h2>

                    <p>Conflict of laws. Some countries may restrict or prohibit your ability to make payments through Conferency. Nothing in these Terms should be read to override or circumvent any such foreign laws. </p>

                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="side-nav">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="policy-item"><a href="{{ url_for('main.policies', policy_name='data') }}">Data Policy</a></li>
                            <li class="policy-item"><a href="{{ url_for('main.policies', policy_name='cookies') }}">Cookie Use</a></li>
                            <li class="policy-item policy-item-on"><a href="{{ url_for('main.policies', policy_name='payment') }}">Payment Terms</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='conferency/js/jQuery.pin.min.js') }}"></script>

    <script>
    $(".side-nav").pin({
      containerSelector: ".container",
      minWidth: 990
})
    </script>


{% endblock %}
