{% extends "auth/base_auth.html" %}

{% block title %}Conferency | Internal Server Error{% endblock %}

{% block main_form %}
<h1>500</h1>
<h3 class="font-bold">Internal Server Error</h3>
<div class="error-desc">
    <p>Sorry, an error has occurred and we are working to fix the problem!</p>
    <p>
      <a class="btn btn-w-m btn-primary m-b-sm" href="{{ url_for('main.index') }}">Home</a>
      <a class="btn btn-w-m btn-success m-b-sm" href="{{ url_for('main.dashboard') }}">Dashboard</a>
    </p>
</div>
{% endblock %}
