{% extends "/email/email_base.html" %}

{% block page_content %}
<tbody>
    <!-- content -->
    <tr>
        <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #95a5a6; text-align:left;line-height: 30px;" st-content="fulltext-paragraph">
            <p>Dear {{ user.first_name }}，</p>
            <p>A paper titled: "{{ title }}" with you as a co-author has been submitted to "{{conference}}". For your convenience, we have set up a new account for you. You can log in with your current email address and password: {{ password }}. We highly recommend that you change the password after first-time login.</p>
        </td>
         <!-- spacing -->

 	</tr>
 	<tr>
        <td width="100%" height="10"></td>
    </tr>
    <!-- Spacing -->
    <!-- button -->
    <tr>
        <td>
            <table height="36" align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" class="tablet-button" st-button="edit">
                <tbody>
                    <tr>
                        <td width="auto" align="center" valign="middle" height="36" style=" background-color:#1AB394; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:14px; font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:25px; padding-right:25px;">

                            <span style="color: #ffffff; font-weight: 300;">
                                <a style="color: #ffffff; text-align:center;text-decoration: none;" href="{{ url_for('auth.login', next='auth/account/settings', _external=True) }}">Click here to update your profile</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td width="100%" height="10"></td>
    </tr>
    <!-- End of spacing -->
        <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #95a5a6; text-align:left;line-height: 30px;" st-content="fulltext-paragraph">   
            <p>Sincerely,</p>
            <p>Conferency</p>
        </td>
    </tr>
    <!-- End of content -->

</tbody>
{% endblock %}
