{% extends "/email/email_base.html" %}

{% block page_content %}
<tbody>
    <!-- content -->
    <tr>
        <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #95a5a6; text-align:left;line-height: 30px;" st-content="fulltext-paragraph">
            <p>Hi {{ user.first_name }},</p>
            <p>A paper titled: "{{ title }}" with you as an author has been submitted to "{{conference}}".</p>
            <p>For your convenience, we have set up a new account for you. You can log in with your current email address and password: <b>{{ password }}</b>. We highly recommend that you change the password after first-time login.</p>
        </td>
    </tr>
    <!-- End of content -->
    <!-- Spacing -->
    <tr>
        <td width="100%" height="20"></td>
    </tr>
    <!-- End of spacing -->
    <tr>
        <td>
            <table height="36" align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" class="tablet-button" st-button="edit">
                <tbody>
                    <tr>
                        <td width="auto" align="center" valign="middle" height="36" style=" background-color:#1AB394; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:14px; font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:25px; padding-right:25px;">
                            <span style="color: #ffffff; font-weight: 300;">
                                <a style="color: #ffffff; text-align:center;text-decoration: none;" href="{{ url_for('paper.get_paper_info', paper_id=paper_id, _external=True) }}">Paper Information</a>
                            </span>
                        </td>
                        <td width="15"></td>
                        <td width="auto" align="center" valign="middle" height="36" style=" background-color:#1AB394; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:14px; font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:25px; padding-right:25px;">
                            <span style="color: #ffffff; font-weight: 300;">
                                <a style="color: #ffffff; text-align:center;text-decoration: none;" href="{{ url_for('auth.settings', _external=True) }}">Change Password</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- Spacing -->
    <tr>
        <td width="100%" height="20"></td>
    </tr>
    <!-- End of spacing -->
    <tr>
        <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #95a5a6; text-align:left;line-height: 24px;" st-content="rightimage-paragraph">
            <p>Sincerely,</p>
            <p>Conferency</p>
        </td>
    </tr>

</tbody>
{% endblock %}
