{% extends "/email/email_base.html" %}

{% block page_content %}
<tbody>
    <!-- content -->
    <tr>
        <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #666666; text-align:left;line-height: 20px;" st-content="fulltext-paragraph">
            {% if review_flag == 'new' %}
                You have submitted a new review on "{{paper.title}}".
            {% else %}
                You have updated the review on "{{paper.title}}".
            {% endif %}
        </td>
    </tr>
    <!-- spacing -->
    <tr>
        <td width="100%" height="20"></td>
    </tr>
    <tr>
        <td>
            <table height="36" align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" class="tablet-button" st-button="edit">
                <tbody>
                    <tr>
                        <td width="auto" align="center" valign="middle" height="36" style=" background-color:#1AB394; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip: padding-box;font-size:14px; font-family:Helvetica, arial, sans-serif; text-align:center;  color:#ffffff; font-weight: 300; padding-left:25px; padding-right:25px;">
                            <span style="color: #ffffff; font-weight: 300;">
                                <a style="color: #ffffff; text-align:center;text-decoration: none;" href="{{ url_for('review.my_reviews', _external=True) }}" target="_blank">Check New Review</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</tbody>
{% endblock %}
