{% extends "/site/home_base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='conferency/inspinia/css/fullcalendar/fullcalendar.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='conferency/inspinia/css/fullcalendar/scheduler.min.css') }}"
          rel='stylesheet'>
    <link href="{{ url_for('static', filename='conferency/inspinia/css/fullcalendar/fullcalendar.print.min.css') }}"
          rel="stylesheet" media="print">
    <link href="{{ url_for('static', filename='drew/css/style.css') }}" rel="stylesheet">

    <style media="screen">
        .fc-license-message {
            display: none
        }

        .tooltiptopicevent {
            height: auto;
            background: #fff;
            position: absolute;
            z-index: 10001;
            padding: 10px 10px 10px 10px;
            line-height: 200%;
            border-color: #e7eaec;
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
        }

        .fc-state-active {
            background-color: #1ab394;
            border-color: #1ab394;
            color: #ffffff;
        }

        .fc-state-default {
            background-color: #ffffff;
            background-image: none;
            background-repeat: repeat-x;
            box-shadow: none;
            color: #333333;
            text-shadow: none;
        }

        .fc-event, .fc-agenda .fc-event-time, .fc-event a {
            padding: 4px 6px;
            background-color: #1ab394;
            border-color: #1ab394;
        }

        ul.unstyled,
        ol.unstyled {
            list-style: none outside none;
            margin-left: 0;
            padding: 0;
            -webkit-padding-start: 0;
        }

        .tooltiptopicevent h3 {
            font-size: 16px;
            margin: 5px 0 10px 0;
            font-weight: 600;
        }

        .tooltiptopicevent {
            font-size: 13px;
        }

    </style>
{% endblock %}

{% block page_content %}
    <header id="header" class="header-section section section-dark navbar navbar-fixed-top">

        <div class="container-fluid">

            <div class="navbar-header navbar-left">

                <!-- RESPONSIVE MENU BUTTON -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                </button>

                <!-- HEADER LOGO -->
                <div class="navbar-logo">
                    <a href="{{ url_for('main.index') }}">
                        <div class="logo-image floating"></div>
                    </a>
                </div>

            </div>

            <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">

                <!-- NAVIGATION LINKS -->
                <ul id="header-nav" class="nav navbar-nav">

                    <!-- <li><a href="{{url_for('main.conf_index', conf_name=conference.short_name)}}">Home</a></li> -->
                    <li><a href="http://{{ conference.website }}">Home</a></li>
                    <!-- DROPDOWN MENU -->
                    <!-- <li class="dropdown dropdown-hover">
						<a href="#" class="dropdown-toggle external" data-toggle="dropdown" role="button" aria-expanded="false">Committee<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{url_for('main.conf_index', conf_name=conference.short_name)}}#organization" class="external">Organizing Committee</a></li>
							<li><a href="{{url_for('main.conf_index', conf_name=conference.short_name)}}#advisory" class="external">Advisory Committee</a></li>
						</ul>
					</li>
					<li><a href="{{url_for('main.conf_index', conf_name=conference.short_name)}}#submission">Submission</a></li>
					<li><a href="{{url_for('main.conf_index', conf_name=conference.short_name)}}#venue">Venue</a></li>
					<li><a href="{{url_for('main.conf_index', conf_name=conference.short_name)}}#sponsors">Sponsors</a></li> -->
                    {% if conference.registration.status %}
                        <li><a href="{{ url_for('main.conf_index', conf_name=conference.short_name) }}#registration">Registration</a>
                        </li>
                    {% endif %}
                    {% if conference.configuration.get('show_proceeding', False) %}
                        <li><a href="{{ url_for('main.conf_proceedings', conf_name=conference.short_name) }}">Proceedings</a>
                        </li>
                    {% endif %}
                    <li><a href="#hero">Program</a></li>
                    <!-- HEADER ACTION BUTTON-->
                    {% if not current_user.is_authenticated %}
                        <li class="header-action-button"><a href="/auth/login?conf={{ conference.id }}"
                                                            class="btn btn-primary">Login</a></li>
                        <li class="header-action-button"><a href="/auth/register?conf={{ conference.id }}"
                                                            class="btn btn-primary">Signup</a></li>
                    {% else %}
                        <li class="header-action-button"><a href="/dashboard" class="btn btn-primary">Dashboard</a></li>
                    {% endif %}


                </ul>

            </nav>

        </div>

    </header>

    <!-- HERO
    ================================= -->
    <section id="hero" class="hero-section hero-layout-simple section section-dark">
        <div class="section-background">
            <!-- IMAGE BACKGROUND -->
            <div class="section-background-image parallax" data-stellar-ratio="0.4">
                <img id="header-bg" src="{{ url_for('static', filename='img/landing_page/bg-computer.jpg') }}" alt=""
                     style="opacity: 0.3;">
            </div>
        </div>

        <div class="container">
            <div class="hero-content">
                <div class="hero-content-inner">
                    <div class="text-center row">
                        <div class="col-md-10 col-md-offset-1">
                            <h1 class="hero-title-conf">{{ conference.name }}</h1>

                            <p class="hero-tagline"><i class="fa fa-calendar"></i>
                                {% if conference.start_date != conference.end_date %}
                                    {{ moment(conference.start_date, local=True).format('dddd, MMMM Do YYYY') }}
                                    to {% endif %}{{ moment(conference.end_date, local=True).format('dddd, MMMM Do YYYY') }}
                            </p>
                            <p class="hero-tagline"><i class="fa fa-map-marker"></i><a
                                    href="http://www.google.com/maps/place/{{ conference.city }},
                                            {% if conference.state %}{{ conference.state }}, {% endif %}{{ conference.country }}"
                                    target="_blank"> {{ conference.city }},
                                {% if conference.state %}{{ conference.state }}, {% endif %}{{ conference.country }}</a>
                            </p>

                            <p class="hero-buttons text-center">
                                <!-- <a href="{{url_for('main.conf_index', conf_name=conference.short_name)}}#about" class="btn btn-lg btn-default">Learn More</a> -->
                                {% if conference.registration.status %}
                                    <a href="#registration" id="register-button" name="register-button"
                                       class="btn btn-lg btn-primary anchor-link">Register Now!</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="app" class="elements-section section-gray section">

        <div class="container">
            <h2 class="section-heading text-center">Mobile App</h2>

            <div class="row">
                <div class="col-md-12 text-center">
                    <p><span style="font-size:20px">Download the mobile app to view the program on the go.</span><br>
                        Search "Conferency" in Apple App Store or Google Play or click the following buttons.</p>
                    <a href="https://itunes.apple.com/app/conferency/id1246305811" target="_blank" style="margin-right: 5px;">
                        <div style="width: 135px; display: inline-block;">
                            <img src="{{ url_for('static', filename='img/Download_on_the_App_Store_Badge.svg') }}" style="margin:6%; width:80%; height: auto; max-width: 100%;">
                        </div>
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.conferency.main" target="_blank">
                        <div style="width: 135px; display: inline-block;">
                            <img src="{{ url_for('static', filename='img/google-play-badge.png') }}" style="height: auto; max-width: 100%;">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="elements" class="elements-section section">

        <div class="container">
            <h2 class="section-heading text-center">Program</h2>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {% if conference.conference_schedule.publish %}
                        <div id="calendar"></div>
                    {% else %}
                        <p class="section-brief text-center">
                            Program is not ready yet.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- fullcalendar -->
    <script src="{{ url_for('static', filename='conferency/inspinia/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='conferency/inspinia/js/fullcalendar/scheduler.min.js') }}"></script>
    <!-- iCal -->
    <script src="{{ url_for('static', filename='conferency/js/ics.deps.min.js') }}"></script>
    <script src="{{ url_for('static', filename='conferency/js/session_tooltip.js') }}"></script>
    <script type="text/javascript">
      function process_events(data) {
        var events = [];
        for (var i = 0; i < data.length; i++) {
          var cal_event = {
            id: data[i].id,
            title: data[i].title,
            start: data[i].start_time,
            end: data[i].end_time,
            start_time: data[i].start_time,
            end_time: data[i].end_time,
            venue: data[i].venue,
            resourceId: data[i].venue,
            description: data[i].description,
            type: data[i].type
          };
          if (cal_event.type !== "regular") {
            cal_event["speakers"] = data[i].speakers;
            cal_event["moderators"] = data[i].moderators;
            if (cal_event.type === "paper") {
              cal_event["papers"] = data[i].papers;
            }
          }
          events.push(cal_event);
        }
        return events;
      }

      $(document).ready(function () {
        var fullcalendar_init = false;
        var venues = [
          {% for venue in venues %}
            {id: '{{ venue }}', title: '{{ venue }}'},
          {% endfor %}
        ];

        $("#calendar").fullCalendar({
          defaultView: 'listWeek',
          resourceAreaWidth: 230,
          aspectRatio: 1.5,
          editable: false,
          customButtons: {
            downloadIcal: {
              text: 'Download iCal',
              click: function () {
                cal = ics();
                $("#calendar").fullCalendar("clientEvents").forEach(function (element) {
                  cal.addEvent(element.title, element.description, element.venue, element.start, element.end);
                });
                cal.download("{{ conference.short_name }}_ical");
              }
            },
            downloadTxt: {
                text: 'Download as Plain Text',
                click: function () {
                    window.open("{{ url_for('api.get_conference_schedule_file', short_name=conference.short_name, type='txt') }}")
                }
            }
          },
          header: {
            left: 'promptResource today prev,next',
            center: 'title',
            right: 'timelineDay,timelineThreeDays,agendaWeek,month, listWeek, downloadIcal, downloadTxt'
          },
          resourceLabelText: 'Venues',
          events: function (start, end, timezone, callback) {
            $.ajax({
              type: "GET",
              url: "{{ url_for('api.get_conference_schedule', short_name=conference.short_name) }}",
              contentType: "application/json",
              success: function (response) {
                callback(process_events(response.results));
                // go to conference day
                if (response.results.length > 0) {
                  if (!fullcalendar_init) {
                    $("#calendar").fullCalendar("gotoDate", response.results[0].start_time);
                    fullcalendar_init = true;
                  }
                }
              }
            });
          },
          resources: venues,
          eventMouseover: function (event, jsEvent, view) {
            $("body").append(generate_tooltip(event));
            $(this).mouseover(function (e) {
              $(this).css('z-index', 10000);
              $('.tooltiptopicevent').fadeIn('500').fadeTo('10', 1.9);
            }).mousemove(function (e) {
              $('.tooltiptopicevent').css({
                "max-width": Math.max($(window).width() / 3, 300),
                "min-width": Math.max($(window).width() / 5, 230)
            })
              var toolWidth = $('.tooltiptopicevent').width();
              var toolHeight = $('.tooltiptopicevent').height();
              var windowWidth = $(window).width();
              var windowHeight = $(window).height();
              if (e.pageX + 25 + toolWidth < windowWidth) {
                $('.tooltiptopicevent').css('left', e.pageX + 20);
              } else {
                $('.tooltiptopicevent').css('left', e.pageX - 30 - toolWidth);
              }

              var scroolTop = $(document).scrollTop();
              if (e.pageY + 15 + toolHeight < windowHeight + scroolTop) { // Bottom overflow?
                $('.tooltiptopicevent').css('top', e.pageY + 10);
              } else if (e.pageY - $(document).scrollTop() < toolHeight) { // Top overflow?
                $('.tooltiptopicevent').css('top', scroolTop + 10);
              } else {
                $('.tooltiptopicevent').css('top', e.pageY - 20 - toolHeight);
              }
            });
          },
          eventMouseout: function (event, jsEvent, view) {
            $(this).css('z-index', 8);
            $('.tooltiptopicevent').remove();
          },
        });
      });
    </script>
{% endblock %}
